
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$primary: rgb(111, 0, 255);

body {
	margin:0;
	font-family: 'Roboto', sans-serif;	font-size: 18px;
}

.container{
	width: 80%;
	margin: 0 auto;
}


header{
	background-color:$primary;
	padding: 1em 0;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

a.logo{
	font-weight: bold;
	margin-left: 0%;
}

nav{
	float:right ;
}
	
	ul{
		list-style-type: none;
	    margin:0;
	    display: flex;
	
	
	li a{
		padding:1em;
		
		&:hover{
			
			background: darken($primary, 10%);
		}

}	
}

