@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$primary: #3b3c36;
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #FABEB0;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: $primary;
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
h1{
  margin-top: 40px;
  margin-bottom: 5%;
}

.pagination {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-left: 45%;

}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination button.active {
  color: black;
  border-radius: 5px;
  margin: 3px;
}

// .pagination button:hover:not(.active) {
//   background-color: #FABEB0;
//   border-radius: 5px;
// }